@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&display=swap');


@theme {
  --color-brand-bg: #0f172a; 
  --font-marhey: "Marhey", sans-serif;
}


html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-brand-bg); 
  font-family: var(--font-marhey);

  color: white; 
}

